@media screen and (min-width: 0) {
    .cabecalho {
        background-color: var(--preto);
    }

    .cabecalho__titulo {
        font-size: 23px;
        font-family: var(--staatliches);
        color: var(--branco);
        max-width: 321px;
        text-align: center;
        margin: auto;
        line-height: 26px;
    }

    .cabecalho__imagem {
        background-image: url(../../img/cabecalho/ilustracao.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 346px;
        height: 224px;
        margin: 30px auto;
    }

    .cabecalho__subtitulo {
        font-size: 14px;
        font-family: var(--staatliches);
        color: var(--branco);
        line-height: 15px;
        text-align: center;
        max-width: 316px;
        margin: auto;
        padding: 30px 0;
    }

    .cabecalho__paragrafo {
        font-size: 12px;
        font-family: var(--nunito);
        color: var(--branco);
        line-height: 13px;
        text-align: center;
        margin: auto;
        max-width: 336px;
    }
}

@media screen and (min-width: 768px) {

    .cabecalho__container {
        padding-top: 20%;
    }
    
    .cabecalho__titulo {
        font-size: 35px;
        max-width: 550px;
        line-height: 40px;
    } 

    .cabecalho__imagem {
        width: 436px;
        height: 342px;
    }

    .cabecalho__subtitulo {
        font-size: 24px;
        max-width: 550px;
        line-height: 35px;
    }

    .cabecalho__paragrafo {
        font-size: 18px;
        line-height: 20px;
        max-width: 700px;
    }
}

@media screen and (min-width: 1024px) {
    
    .cabecalho__container {
        padding-top: 10%;
    }

    .cabecalho__container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 70px;
    }

    .cabecalho__titulo {
        font-size: 47px;
        line-height: 54px;
        text-align: left;
        margin: 0;
        max-width: 512px;
    }

    .cabecalho__imagem {
        width: 600px;
        height: 449px;
        margin: 0;
    }

    .cabecalho__subtitulo {
        font-size: 28px;
        line-height: 31px;
        max-width: 932px;
    }

    .cabecalho__paragrafo {
        font-size: 20px;
        line-height: 22px;
        max-width: 1128px;
    }
}