@media screen and (min-width: 0) {
    .alerta {
        overflow: hidden;
    }
    .informativo__alerta {
        background-image: url(../../img/informativo/image_moca.png);
        background-size: cover;
        height: 190.93px;
        margin: 0 auto;
        margin-top: 40px;
        width: 273.16px;
    }
    .titulo__alerta {
        width: 263px;
        font-family: Staatliches;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 113%;
        text-align: center;
        letter-spacing: 0.015em;
        padding: 50px 0px 5px 0px;
        margin: 0px auto;
        color: var(--branco);
    }
    .paragrafo__alerta {
        width: 263px;
        font-family: Nunito;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 113%;
        text-align: justify;
        letter-spacing: -0.06em;
        color: #505050;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .informativo__alerta {
        position: relative;
        margin: 0 auto;
        top: 300px;
    }
    .primeiro__filho {
        position: relative;
        left: -165px;
        top: -103px;
    }
    .primeiro__filho .paragrafo__alerta {
        width: 320px;
    }
    .segundo__filho {
        position: relative;
        right: -173px;
        top: -214px;
    }
    .terceiro__filho {
        position: relative;
        top: -215px;
        left: -233px;
    }
    .quarto__filho {
        position: relative;
        top: -183px;
        left: -176px;
    }
    .quinto__filho {
        position: relative;
        top: -490px;
        left: 235px;
    }
    .quinto__filho .paragrafo__alerta {
        width: 209px;
    }
    .sexto__filho {
        position: relative;
        top: -498px;
        left: 162px;
    }
    .sexto__filho .paragrafo__alerta {
        width: 344px;
    }
}

@media screen and (min-width: 1024px) {
    .informativo__alerta {
        width: 460.89px;
        height: 308px;
    }
    .paragrafo__alerta {
        font-size: 15px;
        width: 374px;
    }
    .titulo__alerta {
        font-size: 25px;
        width: 343px;
    }
    .primeiro__filho {
        left: -324px;
    }
    .segundo__filho {
        right: -56px;
        top: -358px;
    }
    .terceiro__filho {
        left: -320px;
    }
    .terceiro__filho .paragrafo__alerta {
        width: 291px;
    }
    .quarto__filho {
        top: -225px;
    }
    .quinto__filho .paragrafo__alerta {
        width: 374px;
    }
    .quinto__filho {
        top: -682px;
        left: 388px;
    }
    .sexto__filho {
        top: -636px;
        left: 305px;
    }
}