@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');

:root {
    /* Paleta de cores */
    --preto: #000000;
    --branco: #FFFFFF;
    --roxo: #610083;

    /* Fontes */
    --staatliches: 'Staatliches', cursive;
    --nunito: 'Nunito', sans-serif;
}